{%  extends 'recommender_app/template.html' %}
{% block content %}
  {% for students in student %}
    <div class="row">
      <div class="col">
        <img class="img-profile rounded-circle profile-pic"
        src="{{request.user.profile_picture.url}}">
      </div>
      <div class="col">
        <p>
          <a target="_blank" href="{% url 'display_student_story' students.id %}">Full Name - {{students.name}}</a><br>
          Phone Number - {{students.phone}}<br>
          Email Address - {{students.email}}<br>
          Status - {{students.status}}<br>
          Job Description - {{students.job_description}}<br>
          Skills - {{students.skills}}<br>
          Date Graduated - {{students.date_graduated}}<br>
        </p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
