{%  extends 'recommender_app/template.html' %}
{% block content %}
  {% for student in students %}
    <div class="row">
      <div class="col">
        <img class="img-profile rounded-circle profile-pic"
        src="{{request.user.profile_picture.url}}">
      </div>
      <div class="col">
        <p>
          <a target="_blank" href="{% url 'display_student_story' students.id %}">Full Name - {{students.name}}</a><br>
          Phone Number - {{student.phone}}<br>
          Email Address - {{student.email}}<br>
          Status - {{student.status}}<br>
          Job Description - {{student.job_description}}<br>
          Skills - {{student.skills}}<br>
          Date Graduated - {{student.date_graduated}}<br>
        </p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
